<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFF</title>
</head>
<body>
  <div id="site-header"></div>

  <main id="site-content" role="main"></main>

  <div id="site-footer"></div>
    <script src="../assets/js/index.js" defer></script>
</body>
</html>